* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  text-align: center;
}

.logo img {
  width: 40%;
  height: 50px;
}

#navbar {
  margin-top: 10px;
  text-align: center;
}
.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  width: 25%;
  border: 3px rgb(53, 0, 83) solid;
  border-radius: 15px;
  display: inline;
}

.nav-item a {
  text-decoration: none;
  color: darkblue;
}
#breadcrumbs {
  /*border: solid blueviolet 3px;*/
  margin-top: 15px;
}

.bc-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.bc-item {
  margin-right: 20px;
  display: flex;
}
.bc-item a {
  text-decoration: none;
  color: darkblue;
}
.bc-item a:hover {
  text-decoration: underline;
}

.intro {
  margin-top: 15px;
}

.articles {
  padding: 10px;
}
.article {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  border: 3px goldenrod solid;
  border-radius: 5%;
  text-align: center;
}
.article img {
  width: 100%;
}

.article-name {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  line-height: 1.6;
}
.rrp {
  color: rgb(59, 58, 58);
}

.price {
  font-weight: bold;
  text-decoration: underline;
}

.saving {
  color: green;
  font-weight: bold;
  font-style: italic;
}

.shopbutton {
  background-color: rgb(197, 191, 112);
  width: 50%;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 5px;
}

@media only screen and (min-width: 550px) {
  * {
    margin: 0;
    padding: 0;
  }

  main {
    margin-left: 50px;
  }

  #header {
    height: 57px;
  }
  .logo {
    display: flex;
    float: left;
  }
  .logo img {
    width: 100%;
  }
  .nav-item {
    margin-top: 13px;
    max-width: 150px;
  }

  .bc-list {
    justify-content: start;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article {
    width: 250px;
    float: left;
    display: inline;
    justify-content: space-between;
    margin-right: 10px;
  }
}

@media print {
  header {
    display: none;
  }
  #breadcrumbs {
    display: none;
  }
}
