body {
  box-sizing: border-box;
  background-color: #f4f4f4;
  margin-left: 15px;
}

#main-header {
  float: left;
  display: flex;
}
.logo {
  width: 100px;
  height: 50px;
}

#navbar ul {
  /*remove default list style*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar li {
  /*display list horizontally*/
  float: left;
  padding: 15px;
  font-size: 18px;
}

/*link properties*/
a {
  text-decoration: none;
  color: rgb(36, 3, 80);
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: blueviolet;
}

/*style for breadcrumbs*/
#breadcrumbs {
  width: 100%;
  display: flex;
}

#breadcrumbs ul {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}
#breadcrumbs li {
  float: left;
  padding-right: 35px;
  font-size: 18px;
}

/*style for page intro*/
.intro {
  width: 100%;
}

/*product card*/
.product-card {
  border: solid black 3px;
  padding: 10px;
  width: 200px;
  display: inline-block;
  margin-right: 15px;
  line-height: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.product-image {
  width: 100%;
}

.article-name {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  line-height: 1.6;
}
.rrp {
  color: grey;
}

.price {
  font-weight: bold;
  text-decoration: underline;
}

.saving {
  color: green;
  font-weight: bold;
  font-style: italic;
}
